<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Transformation -->
      <package
            uri="http://com.mtcflow.mtc/1.1"
            class="com.mtcflow.model.mtc.MtcPackage"
            genModel="model/Transformation.genmodel"/>
   </extension>

</plugin>
