<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--

-->
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="mtcdiag"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="mtcdiag"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="com.mtcflow.designer.diagram.part.MtcDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/MtcDiagramFile.gif"
         extensions="mtcdiag"
         default="true"
         class="com.mtcflow.designer.diagram.part.MtcDiagramEditor"
         matchingStrategy="com.mtcflow.designer.diagram.part.MtcMatchingStrategy"
         contributorClass="com.mtcflow.designer.diagram.part.MtcDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="com.mtcflow.designer.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/MtcDiagramFile.gif"
  	     category="com.mtcflow.project.eclipse.wizard"
  	     class="com.mtcflow.designer.diagram.part.MtcCreationWizard"
  	     id="com.mtcflow.designer.diagram.part.MtcCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="com.mtcflow.diagram.InitDiagram"
            nameFilter="*.mtc"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="com.mtcflow.designer.diagram.part.MtcInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="com.mtcflow.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="MtcPresentation">
         <Priority name="Lowest"/>
         <ViewId id="com.mtcflow.designer.diagram.part.MtcDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider"
         id="MtcPresentationPrint">
         <Priority name="Lowest"/>
         <ViewId id="com.mtcflow.designer.diagram.part.MtcDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="MtcPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="com.mtcflow.designer.diagram.part.MtcDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="MtcRender">
         <Priority name="Lowest"/>
         <ViewId id="com.mtcflow.designer.diagram.part.MtcDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="com.mtcflow.designer.diagram.providers.MtcMarkerNavigationProvider">
         <MarkerType name="com.mtcflow.diagram.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

   <extension id="diagnostic" name="Mtc Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="com.mtcflow.designer.diagram.providers.MtcValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="com.mtcflow.designer.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="com.mtcflow.diagram.general"
            name="%prefpage.com.mtcflow.diagram.general"
            class="com.mtcflow.designer.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="com.mtcflow.diagram.appearance"
            name="%prefpage.com.mtcflow.diagram.appearance"
            category="com.mtcflow.diagram.general"
            class="com.mtcflow.designer.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="com.mtcflow.diagram.connections"
            name="%prefpage.com.mtcflow.diagram.connections"
            category="com.mtcflow.diagram.general"
            class="com.mtcflow.designer.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="com.mtcflow.diagram.printing"
            name="%prefpage.com.mtcflow.diagram.printing"
            category="com.mtcflow.diagram.general"
            class="com.mtcflow.designer.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="com.mtcflow.diagram.rulersAndGrid"
            name="%prefpage.com.mtcflow.diagram.rulersAndGrid"
            category="com.mtcflow.diagram.general"
            class="com.mtcflow.designer.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="com.mtcflow.diagram"
            labelProvider="com.mtcflow.designer.diagram.sheet.MtcSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="com.mtcflow.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="com.mtcflow.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="com.mtcflow.designer.diagram.sheet.MtcPropertySection1">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="com.mtcflow.designer.diagram.navigator.MtcAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="com.mtcflow.designer.diagram.providers.MtcViewProvider">
         <Priority name="Lowest"/>
         <object id="referencing-diagrams" class="org.eclipse.gmf.runtime.notation.Diagram">
            <method name="getType()" value="mtc"/>
         </object>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" containerViews="referencing-diagrams"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Mtc"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2039,2029,2026,2028,2030,2038,2032,2033,2034,2035,2037,3008,3009,3010,3011,3013"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4027,4028,4043,4031,4039,4034,4035,4040,4041,4033"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="com.mtcflow.designer.diagram.providers.MtcEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Mtc"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2039,2029,2026,2028,2030,2038,2032,2033,2034,2035,2037,3008,3009,3010,3011,3013"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4027,4028,4043,4031,4039,4034,4035,4040,4041,4033"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5052,5036,5033,5035,5037,5051,5039,5040,5041,5042,5049,5044,5045,5046,5047,5050"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7008,7009,7010,7011,7012"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="com.mtcflow.designer.diagram.providers.MtcModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="com.mtcflow.designer.diagram.edit.parts.MTCEditPart" id="MTC_1000"/>
         <object class="com.mtcflow.designer.diagram.edit.parts.HOTransformationEditPart" id="HOTransformation_2039"/>
         <object class="com.mtcflow.designer.diagram.edit.parts.MTCTransformationEditPart" id="MTCTransformation_2029"/>
         <object class="com.mtcflow.designer.diagram.edit.parts.M2MTransformationEditPart" id="M2MTransformation_2026"/>
         <object class="com.mtcflow.designer.diagram.edit.parts.T2MTransformationEditPart" id="T2MTransformation_2028"/>
         <object class="com.mtcflow.designer.diagram.edit.parts.M2TTransformationEditPart" id="M2TTransformation_2030"/>
         <object class="com.mtcflow.designer.diagram.edit.parts.FileEditPart" id="File_2038"/>
         <object class="com.mtcflow.designer.diagram.edit.parts.MetamodelEditPart" id="Metamodel_2032"/>
         <object class="com.mtcflow.designer.diagram.edit.parts.ModelEditPart" id="Model_2033"/>
         <object class="com.mtcflow.designer.diagram.edit.parts.ValidationEditPart" id="Validation_2034"/>
         <object class="com.mtcflow.designer.diagram.edit.parts.ReferencedResourceEditPart" id="ReferencedResource_2035"/>
         <object class="com.mtcflow.designer.diagram.edit.parts.ConfigurationEditPart" id="Configuration_2037"/>
         <object class="com.mtcflow.designer.diagram.edit.parts.LibraryEditPart" id="Library_3008"/>
         <object class="com.mtcflow.designer.diagram.edit.parts.ScriptEditPart" id="Script_3009"/>
         <object class="com.mtcflow.designer.diagram.edit.parts.VariableEditPart" id="Variable_3010"/>
         <object class="com.mtcflow.designer.diagram.edit.parts.TagEditPart" id="Tag_3011"/>
         <object class="com.mtcflow.designer.diagram.edit.parts.ModelEnvironmentEditPart" id="ModelEnvironment_3013"/>
         <context elements="MTC_1000,HOTransformation_2039,MTCTransformation_2029,M2MTransformation_2026,T2MTransformation_2028,M2TTransformation_2030,File_2038,Metamodel_2032,Model_2033,Validation_2034,ReferencedResource_2035,Configuration_2037,Library_3008,Script_3009,Variable_3010,Tag_3011,ModelEnvironment_3013"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="com.mtcflow.designer.diagram.providers.MtcIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="com.mtcflow.designer.diagram.providers.MtcParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders" id="decorator-provider">
      <?gmfgen generated="true"?>
      <decoratorProvider class="com.mtcflow.designer.diagram.providers.MtcShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)" id="generated-top-nodes">
            <method name="getType()" value="2039,2029,2026,2028,2030,2038,2032,2033,2034,2035,2037"/>
         </object>
         <context decoratorTargets="generated-top-nodes"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <metamodelType
               id="com.mtcflow.diagram.MTC_1000"
               name="%metatype.name.MTC_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="MTC"
               edithelper="com.mtcflow.designer.diagram.edit.helpers.MTCEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <metamodelType
               id="com.mtcflow.diagram.HOTransformation_2039"
               name="%metatype.name.HOTransformation_2039"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="HOTransformation"
               edithelper="com.mtcflow.designer.diagram.edit.helpers.HOTransformationEditHelper">
            <param name="semanticHint" value="2039"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <metamodelType
               id="com.mtcflow.diagram.MTCTransformation_2029"
               name="%metatype.name.MTCTransformation_2029"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="MTCTransformation"
               edithelper="com.mtcflow.designer.diagram.edit.helpers.MTCTransformationEditHelper">
            <param name="semanticHint" value="2029"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <metamodelType
               id="com.mtcflow.diagram.M2MTransformation_2026"
               name="%metatype.name.M2MTransformation_2026"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="M2MTransformation"
               edithelper="com.mtcflow.designer.diagram.edit.helpers.M2MTransformationEditHelper">
            <param name="semanticHint" value="2026"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <metamodelType
               id="com.mtcflow.diagram.T2MTransformation_2028"
               name="%metatype.name.T2MTransformation_2028"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="T2MTransformation"
               edithelper="com.mtcflow.designer.diagram.edit.helpers.T2MTransformationEditHelper">
            <param name="semanticHint" value="2028"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <metamodelType
               id="com.mtcflow.diagram.M2TTransformation_2030"
               name="%metatype.name.M2TTransformation_2030"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="M2TTransformation"
               edithelper="com.mtcflow.designer.diagram.edit.helpers.M2TTransformationEditHelper">
            <param name="semanticHint" value="2030"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <metamodelType
               id="com.mtcflow.diagram.File_2038"
               name="%metatype.name.File_2038"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="File"
               edithelper="com.mtcflow.designer.diagram.edit.helpers.FileEditHelper">
            <param name="semanticHint" value="2038"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <metamodelType
               id="com.mtcflow.diagram.Metamodel_2032"
               name="%metatype.name.Metamodel_2032"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Metamodel"
               edithelper="com.mtcflow.designer.diagram.edit.helpers.MetamodelEditHelper">
            <param name="semanticHint" value="2032"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <metamodelType
               id="com.mtcflow.diagram.Model_2033"
               name="%metatype.name.Model_2033"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Model"
               edithelper="com.mtcflow.designer.diagram.edit.helpers.ModelEditHelper">
            <param name="semanticHint" value="2033"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <metamodelType
               id="com.mtcflow.diagram.Validation_2034"
               name="%metatype.name.Validation_2034"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Validation"
               edithelper="com.mtcflow.designer.diagram.edit.helpers.ValidationEditHelper">
            <param name="semanticHint" value="2034"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <metamodelType
               id="com.mtcflow.diagram.ReferencedResource_2035"
               name="%metatype.name.ReferencedResource_2035"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ReferencedResource"
               edithelper="com.mtcflow.designer.diagram.edit.helpers.ReferencedResourceEditHelper">
            <param name="semanticHint" value="2035"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <metamodelType
               id="com.mtcflow.diagram.Configuration_2037"
               name="%metatype.name.Configuration_2037"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Configuration"
               edithelper="com.mtcflow.designer.diagram.edit.helpers.ConfigurationEditHelper">
            <param name="semanticHint" value="2037"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <metamodelType
               id="com.mtcflow.diagram.Library_3008"
               name="%metatype.name.Library_3008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Library"
               edithelper="com.mtcflow.designer.diagram.edit.helpers.LibraryEditHelper">
            <param name="semanticHint" value="3008"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <metamodelType
               id="com.mtcflow.diagram.Script_3009"
               name="%metatype.name.Script_3009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Script"
               edithelper="com.mtcflow.designer.diagram.edit.helpers.ScriptEditHelper">
            <param name="semanticHint" value="3009"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <metamodelType
               id="com.mtcflow.diagram.Variable_3010"
               name="%metatype.name.Variable_3010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Variable"
               edithelper="com.mtcflow.designer.diagram.edit.helpers.VariableEditHelper">
            <param name="semanticHint" value="3010"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <metamodelType
               id="com.mtcflow.diagram.Tag_3011"
               name="%metatype.name.Tag_3011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Tag"
               edithelper="com.mtcflow.designer.diagram.edit.helpers.TagEditHelper">
            <param name="semanticHint" value="3011"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <metamodelType
               id="com.mtcflow.diagram.ModelEnvironment_3013"
               name="%metatype.name.ModelEnvironment_3013"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ModelEnvironment"
               edithelper="com.mtcflow.designer.diagram.edit.helpers.ModelEnvironmentEditHelper">
            <param name="semanticHint" value="3013"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <metamodelType
               id="com.mtcflow.diagram.InputModel_4027"
               name="%metatype.name.InputModel_4027"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InputModel"
               edithelper="com.mtcflow.designer.diagram.edit.helpers.InputModelEditHelper">
            <param name="semanticHint" value="4027"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <metamodelType
               id="com.mtcflow.diagram.OutputModel_4028"
               name="%metatype.name.OutputModel_4028"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="OutputModel"
               edithelper="com.mtcflow.designer.diagram.edit.helpers.OutputModelEditHelper">
            <param name="semanticHint" value="4028"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <specializationType
               id="com.mtcflow.diagram.ModelMetamodel_4043"
               name="%metatype.name.ModelMetamodel_4043"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4043"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <specializationType
               id="com.mtcflow.diagram.ModelValidations_4031"
               name="%metatype.name.ModelValidations_4031"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4031"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <specializationType
               id="com.mtcflow.diagram.HOTransformationOutputTransformations_4039"
               name="%metatype.name.HOTransformationOutputTransformations_4039"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4039"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <specializationType
               id="com.mtcflow.diagram.M2TTransformationOutputFiles_4034"
               name="%metatype.name.M2TTransformationOutputFiles_4034"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4034"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <specializationType
               id="com.mtcflow.diagram.T2MTransformationInputFiles_4035"
               name="%metatype.name.T2MTransformationInputFiles_4035"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4035"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <specializationType
               id="com.mtcflow.diagram.TransformationModelDependencies_4040"
               name="%metatype.name.TransformationModelDependencies_4040"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4040"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <specializationType
               id="com.mtcflow.diagram.TransformationFileDependencies_4041"
               name="%metatype.name.TransformationFileDependencies_4041"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4041"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://com.mtcflow.mtc/1.0">
         <specializationType
               id="com.mtcflow.diagram.MTCResourceReferencedResources_4033"
               name="%metatype.name.MTCResourceReferencedResources_4033"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4033"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="com.mtcflow.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="com.mtcflow.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="com.mtcflow.diagram.TypeContext">
         <elementType ref="com.mtcflow.diagram.MTC_1000"/>
         <elementType ref="com.mtcflow.diagram.HOTransformation_2039"/>
         <elementType ref="com.mtcflow.diagram.MTCTransformation_2029"/>
         <elementType ref="com.mtcflow.diagram.M2MTransformation_2026"/>
         <elementType ref="com.mtcflow.diagram.T2MTransformation_2028"/>
         <elementType ref="com.mtcflow.diagram.M2TTransformation_2030"/>
         <elementType ref="com.mtcflow.diagram.File_2038"/>
         <elementType ref="com.mtcflow.diagram.Metamodel_2032"/>
         <elementType ref="com.mtcflow.diagram.Model_2033"/>
         <elementType ref="com.mtcflow.diagram.Validation_2034"/>
         <elementType ref="com.mtcflow.diagram.ReferencedResource_2035"/>
         <elementType ref="com.mtcflow.diagram.Configuration_2037"/>
         <elementType ref="com.mtcflow.diagram.Library_3008"/>
         <elementType ref="com.mtcflow.diagram.Script_3009"/>
         <elementType ref="com.mtcflow.diagram.Variable_3010"/>
         <elementType ref="com.mtcflow.diagram.Tag_3011"/>
         <elementType ref="com.mtcflow.diagram.ModelEnvironment_3013"/>
         <elementType ref="com.mtcflow.diagram.InputModel_4027"/>
         <elementType ref="com.mtcflow.diagram.OutputModel_4028"/>
         <elementType ref="com.mtcflow.diagram.ModelMetamodel_4043"/>
         <elementType ref="com.mtcflow.diagram.ModelValidations_4031"/>
         <elementType ref="com.mtcflow.diagram.HOTransformationOutputTransformations_4039"/>
         <elementType ref="com.mtcflow.diagram.M2TTransformationOutputFiles_4034"/>
         <elementType ref="com.mtcflow.diagram.T2MTransformationInputFiles_4035"/>
         <elementType ref="com.mtcflow.diagram.TransformationModelDependencies_4040"/>
         <elementType ref="com.mtcflow.diagram.TransformationFileDependencies_4041"/>
         <elementType ref="com.mtcflow.diagram.MTCResourceReferencedResources_4033"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="com.mtcflow.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="com.mtcflow.diagram"
           properties="isURIEditorInput"
           class="com.mtcflow.designer.diagram.part.MtcUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isShortcut">
      <?gmfgen generated="true"?>
       <propertyTester
           id="com.mtcflow.diagram.ShortcutPropertyTester"
           type="org.eclipse.gmf.runtime.notation.View"
           namespace="com.mtcflow.diagram"
           properties="isShortcut"
           class="com.mtcflow.designer.diagram.part.MtcShortcutPropertyTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="com.mtcflow.diagram.resourceContent"/>
			<contentExtension pattern="com.mtcflow.diagram.domainResourceContent"/>
            <contentExtension pattern="com.mtcflow.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="com.mtcflow.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="com.mtcflow.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="com.mtcflow.designer.diagram.navigator.MtcNavigatorContentProvider" 
            labelProvider="com.mtcflow.designer.diagram.navigator.MtcNavigatorLabelProvider"
            icon="icons/obj16/MtcDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="mtcdiag"/>
               </and>
               <instanceof value="com.mtcflow.designer.diagram.navigator.MtcAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="com.mtcflow.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="com.mtcflow.designer.diagram.navigator.MtcAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="com.mtcflow.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </possibleChildren>
         <commonSorter 
               id="com.mtcflow.diagram.navigatorSorter" 
               class="com.mtcflow.designer.diagram.navigator.MtcNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="mtcdiag"/>
                  </and>
                  <instanceof value="com.mtcflow.designer.diagram.navigator.MtcAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="com.mtcflow.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="com.mtcflow.designer.diagram.navigator.MtcDomainNavigatorContentProvider" 
            labelProvider="com.mtcflow.designer.diagram.navigator.MtcDomainNavigatorLabelProvider"
            icon="icons/obj16/MtcDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="mtc"/>
               </and>
               <instanceof value="com.mtcflow.designer.diagram.navigator.MtcDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="com.mtcflow.designer.diagram.navigator.MtcDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="com.mtcflow.diagram.navigatorActionProvider"
            class="com.mtcflow.designer.diagram.navigator.MtcNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="com.mtcflow.designer.diagram.navigator.MtcAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="com.mtcflow.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="com.mtcflow.diagram.navigatorLinkHelper"
            class="com.mtcflow.designer.diagram.navigator.MtcNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="com.mtcflow.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="com.mtcflow.designer.diagram.navigator.MtcAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="com.mtcflow.designer.diagram.part.MtcDiagramUpdateCommand"
         description="%update.diagram.description"
         id="com.mtcflow.designer.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="com.mtcflow.designer.diagram.updateDiagram"
         contextId="com.mtcflow.designer.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="com.mtcflow.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="com.mtcflow.designer.diagram.part.MtcDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="com.mtcflow.designer.diagram.edit.parts.MTCEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="img/chain_icon_nature.png"
               label="MTC">
            <command
                  commandId="mtc.transformation.run.command"
                  label="Run MTC"
                  style="push">
            </command>
            <command
                  commandId="mtc.transformation.run.tags.command"
                  label="Run MTC with Tags"
                  style="push">
            </command>
            <menu
                  label="Run MTC from Transformation">
               <dynamic
                     class="com.mtcflow.project.eclipse.ui.menu.StartFromTransformationMenu"
                     id="com.mtcflow.project.eclipse.plugin.dynamic1">
               </dynamic>
            </menu>
            <menu
                  label="Run MTC from Model">
               <dynamic
                     class="com.mtcflow.project.eclipse.ui.menu.StartFromModelMenu"
                     id="com.mtcflow.project.eclipse.plugin.dynamicMenuModel">
               </dynamic>
            </menu>
            <command
                  commandId="mtc.transformation.create.command"
                  style="push">
            </command>
            <command
                  commandId="mtc.transformation.gen.documentation"
                  style="push">
            </command>
            <visibleWhen>
               <and>
                  <with
                        variable="activePartId">
                     <equals
                           value="com.mtcflow.designer.diagram.part.MtcDiagramEditorID">
                     </equals>
                  </with>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="com.mtcflow.designer.diagram.edit.parts.MTCEditPart">
                        </instanceof>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="com.mtcflow.designer.diagram.part.MtcDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="com.mtcflow.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="com.mtcflow.designer.diagram.part.MtcDiagramEditorID"
         defaultHandler="com.mtcflow.designer.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>
   <extension name="RadialProvider"
         point="org.eclipse.gmf.runtime.diagram.ui.layoutProviders">
      <layoutProvider
            class="com.mtcflow.designer.diagram.layout.MTCFlowLeftLayout">
         <Priority
               name="Highest">
         </Priority>
      </layoutProvider>
     
   </extension>
</plugin>
